<html>
<body>
<p>Hello, Team {{ team.id }}:</p>

<p>Your team members are:</p>
<ul>
  {% for member in team.members %}
  <li>{{ member.first_name }} {{ member.last_name }}: {{ member.email }}</li>
  {% endfor %}
</ul>

</p>Now that you have each other's email addresses, you can coordinate however you'd like, including by reply-alling to this email (and removing smart@ncku.edu.tw) to get the conversation going.</p>

</p>Additionally, why not check out the online resources (also available in #resources on our <a href="https://discord.gg/zVeBmNpN9t">Discord server</a>)? The core videos you’re expected to watch are as follows:</p>

<p><b>Business plan:</b></p>
<ul>
<li>Read: <a href="https://www.sequoiacap.com/article/writing-a-business-plan/">Writing a Business Plan</a>, by Sequoia Capital (5 min)</li>
</ul>

<p><b>Pitch deck:</b></p> 
<li>Read: <a href="https://blog.aaronkharris.com/advice-on-pitching">How to Build Your Seed Round Pitch Deck</a>, by Aaron Harris</li>
<li>Read: <a href="https://www.ycombinator.com/library/4T-how-to-design-a-better-pitch-deck">How to Design a Better Pitch Deck</a>, by Kevin Hale</li>
</ul>
<p><b>Giving a pitch:</b></p>
<li>Watch: <a href="https://www.youtube.com/watch?v=17XZGUX_9iM">How to Pitch Your Startup</a>, by Kevin Hale (30 minutes)</li>
<li>Read: <a href="https://blog.aaronkharris.com/advice-on-pitching">Advice on Pitching</a>, by Aaron Harris (5 min)</li>
</ul>

<p><b>Public speaking:</b></p>
<ul>
<li>Forthcoming</li>
</ul>

<p>Those are just the ‘required’ videos, but we’ve selected many more videos if you wish to expose yourself to even more information. It’s also suggested to go through Y Combinator’s Startup School Curriculum. We had started recording more of our own videos, but their content is so good there’s no need to reinvent the wheel.</p>

<p>If you’ve not joined us on Discord, or you tried and the link was broken, our currently fairly quiet server is located here: <a href="https://discord.gg/zVeBmNpN9t">https://discord.gg/zVeBmNpN9t</a>. It’s a good place to ask questions and meet other people interested in start-ups. Also, depending on the interest, we can try to get some more start-up veterans in there if you’re looking for feedback as you work together with your team.</a>

<p>Finally, here’s a reminder of the timeline:</p>
<ul>
<li><a href="https://smart.innovation.ncku.edu.tw/#submit">Submit</a> your team’s business plan, pitch deck, and 5-minute video pitch: October 8th</li>
<li>Awards announced at SATU General Assembly: November 2nd.</li>
</ul>
</body>
</html>
