<html>
<body>
<p>Hello, Team {{ team.id }}:</p>

<p>Your team members/'co-founders' are:</p>
<ul>
  {% for member in team.members %}
  <li>{{ member.first_name }} {{ member.last_name }}: {{ member.email }}</li>
  {% endfor %}
</ul>

</p>Now that you have each other's email addresses, you can coordinate however you'd like, including by reply-alling to this email (and removing 11008051@gs.ncku.edu.tw) to get the conversation going.</p>

</p>Additionally, why not check out the online resources (also available in #resources on our <a href="https://discord.gg/zVeBmNpN9t">Discord server</a>)? The core videos you’re expected to watch / documents you're expected to read are as follows:</p>

<p><b>Business plan:</b></p>
<ul>
<li>Read: <a href="https://www.sequoiacap.com/article/writing-a-business-plan/">Writing a Business Plan</a>, by Sequoia Capital (5 min)</li>
<li>Watch: <a href="https://www.youtube.com/watch?v=5_0dVHMpJlo">Competition is for Losers</a>, by Peter Thiel (Part of the Stanford + Y Combinator <a href="https://www.youtube.com/channel/UCxIJaCMEptJjxmmQgGFsnCg/videos">How to Start a Startup<a> videos) (50 min).
</ul>

<p><b>Pitch deck:</b></p> 
<li>Read: <a href="https://www.ycombinator.com/library/2u-how-to-build-your-seed-round-pitch-deck">How to Build Your Seed Round Pitch Deck</a>, by Aaron Harris (7 min)</li>
<li>Read: <a href="https://www.ycombinator.com/library/4T-how-to-design-a-better-pitch-deck">How to Design a Better Pitch Deck</a>, by Kevin Hale (10 min)</li>
</ul>
<p><b>Giving a pitch:</b></p>
<li>Watch: <a href="https://www.youtube.com/watch?v=17XZGUX_9iM">How to Pitch Your Startup</a>, by Kevin Hale (30 minutes)</li>
<li>Read: <a href="https://blog.aaronkharris.com/advice-on-pitching">Advice on Pitching</a>, by Aaron Harris (5 min)</li>
<li>Watch: <a href="https://www.youtube.com/watch?v=FcfAi3fAdg0">500 Startups Digital Demo Day 2021</a></li>
</ul>

<p><b>Public speaking:</b></p>
<ul>
<li>Watch: <a href="https://www.youtube.com/watch?v=Unzc731iCUY">How to Speak</a>, by Patrick Winston (MIT OpenCourseWare) (1 hour). Note: not all of this will be directly relevant, but communication is is key with start-ups and business in general, and much of it is broadly applicable.</li>
</ul>

<p>Those are just the ‘required’ videos. We’ve linked to many more videos in #resources on Discord if you wish to expose yourself to even more information. It’s also suggested to go through Y Combinator’s <a href="https://www.startupschool.org/curriculum">Startup School Curriculum</a>. We had started recording more of our own videos, but their content is so good there’s no need to reinvent the wheel.</p>

<p>If you’ve not joined us on Discord, or you tried and the link was broken, our currently fairly quiet server is located here: <a href="https://discord.gg/zVeBmNpN9t">https://discord.gg/zVeBmNpN9t</a>. It’s a good place to ask questions and meet other people interested in start-ups. Also, depending on the interest, we can try to get some more start-up veterans in there if you’re looking for feedback as you work together with your team.</p>

<p>Also, this stuff is hard. Maybe you'll disagree fundamentally with your 'co-founders'. Maybe you feel like you can't come up with a 'good' way to differentiate yourself from the competition. All of this is ok. With start-ups, to be perfectly frank, sometimes the more you fail (while putting in a sincere effort) the more you learn. Think about it: when everything comes easy and things just work, how much have you actually learned about why things are working, about your customers, about your market, etc.? The more you engage with this, though, the more you talk about things, the better position you'll be in when you have an idea you <b>do</b> believe in, because then you'll know to think about what problem it solves, the competition, the customers, and so forth.</p>

<p>Finally, here’s a reminder of the timeline:</p>
<ul>
<li><a href="https://smart.innovation.ncku.edu.tw/#submit">Submit</a> your team’s business plan, pitch deck, and 5-minute video pitch: October 8th</li>
<li>Awards announced at SATU General Assembly: November 2nd.</li>
</ul>
</body>
</html>
